/* //candidatescreen */
.content {
  margin-bottom: 2rem;
}
/* //candidatecomponent */
.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card-image {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.c-name {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
