.align-center{
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-align{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}
.image-controller{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    /* border: #000 1px solid; */
}
